<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.session.Mapper.EmployeesMapper">
<!--    二级缓存-->
    <cache type="com.yang.session.Config.redis.RedisCache"/>

    <select id="login" resultType="com.yang.session.Pojo.Employees">
        select * from employees where Phone = #{phone}
    </select>


</mapper>